.Wo {
  font-size: large;    
  font-family: monospace;
  background-color: #d9ae93;
  color: rgb(0, 0, 0);
  border: 200px solid #d9ae93;
  margin: -8px;
  padding: -8px;
  }
.Excel{
  vertical-align: middle;
  background-color: #88ffa9;    
  font-size: large;
  color: rgb(0, 0, 0);
  font-family: monospace;
  border: 150px solid #88ffa9;
  margin: -9px;
  padding: -9px;
  }
.Word{
  font-size: large;
  font-family: monospace;
  background-color: #93c6f7;
  color: rgb(0, 0, 0);
  border: 150px solid #93c6f7;
  margin: -9px;
  padding: -9px;
  }
.Pp {
  font-size: large;
  font-family: monospace;
  background-color: #ffa673;
  color: rgb(0, 0, 0);
  border: 150px solid #ffa673;
  margin: -8px;
  padding: -8px;
  }
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: monospace;
  }